In [ ]:
%sql
DROP DATABASE bronze_mobile CASCADE;

In [ ]:
%sql
DROP DATABASE silver_mobile CASCADE;

In [ ]:
%sql
DROP DATABASE gold_mobile CASCADE;